// Resets/defaults

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  @include block;
  line-height: 1.6rem;
}

body {
  background-image: url(../images/noise100.png);

  &:before {
    content: '';
    position: fixed;
    @include gradient-circle(#fff);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
}

html,
body,
input,
textarea,
select,
.pure-g [class *= "pure-u"] {
  @include font(serif);
  font-weight: 100;
  font-size: $fontsize-default;
  color: $color-navy;
}

h1,
h2,
h3 {
  @include font(sans);
  font-weight: 100;
}

span {
  font-family: inherit;
  letter-spacing: inherit;
}

button {
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
}

input {
  border: 0;
  outline: none;
  background: $color-white;
  color: $color-navy;
  @include placeholder($color-navy-trans);
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include bp(sm) {
    width: $sm-min;
  }

  @include bp(md) {
    width: $md-min;
  }

  @include bp(lg) {
    width: $lg-min;
  }

  @include bp(xl) {
    width: $xl-min;
  }
}

.react-component {
  position: relative;
  display: block;
}

.cta {
  @include block(inline);
  @include shadow;
  @include font(sans);
  @include padding;
  border-radius: $nice-radius;
  background: $color-white;
  font-size: 1.4rem;

  &.cta-green,
  &.cta-turquoise,
  &.cta-navy {
    color: $color-white;
  }

  &.cta-green {
    background: $color-green;
  }

  &.cta-turquoise {
    background: $color-turquoise;
  }

  &.cta-navy {
    background: $color-navy;
  }
}

.error-msg {
  @include block(absolute);
  @include font(sans);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: $color-red;
  font-size: .8rem;
  font-style: italic;
  font-weight: 700;
}
