// Typography

// Defaults
$fontsize-default: 16px;
$fontweight-default: normal;

// @font-face {
//   font-family: 'SC Sans Web bold';
//   src: url(../fonts/sc-sans-web-bold.woff2);
// }

$font-fallbacks: Helvetica, Arial, sans-serif;

@mixin font($fonttype) {
  @if $fonttype == 'light' {
    font-family: $font-fallbacks;
  }
}
