// Typography

// Defaults
$fontsize-default: 16px;
$fontweight-default: 400;

@font-face {
  font-family: 'ABeeZee', sans-serif;
  src: url(../fonts/ABeeZee-Regular.ttf);
}

@font-face {
  font-family: 'Antic Slab', serif;
  src: url(../fonts/AnticSlab-Regular.ttf);
}

@mixin font($fonttype: 'serif') {
  @if $fonttype == 'serif' {
    font-family: 'Antic Slab', serif;
  }
  @else if $fonttype == 'sans' {
    font-family: 'ABeeZee', sans-serif;
  }
}
