// Transparencies
$trans: 0.5;
$trans-2: 0.07;

// Colour palette
$color-white: #fff;
$color-black: #000;

$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #aaa;
$color-grey-4: #ddd;

$color-navy: #446D7D;
$color-navy-trans: rgba($color-navy, $trans);
$color-navy-trans-2: rgba($color-navy, $trans-2);
$color-turquoise: #49D9B9;
$color-turquoise-trans: rgba($color-turquoise, $trans);
$color-turquoise-trans-2: rgba($color-turquoise, $trans-2);
$color-green: #95D256;
$color-green-trans: rgba($color-green, $trans);
$color-green-trans-2: rgba($color-green, $trans-2);
$color-red: #E34B7A;

// Dimensions
$gap-1: 20px;
$gap-2: 40px;
$gap-3: 60px;

$nice-radius: 3px;
