$trans: 0.5;

// Colour palette
$color-white: #fff;
$color-black: #000;

$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #aaa;

$color-navy: #446D7D;
$color-navy-trans: rgba($color-navy, $trans);
$color-turquoise: #49D9B9;
$color-turquoise-trans: rgba($color-turquoise, $trans);
$color-green: #95D256;
$color-green-trans: rgba($color-green, $trans);

// Dimensions

