$total-input-width: 260px;
$side-block-width: 50px;

.StyledInput {
  @include block;
  @include shadow;
  font-size: 1.5rem;
  width: $total-input-width;
  border-radius: $nice-radius;
  background-color: $color-white;

  .styledinput-input {
    @include block(inline);
    @include font(serif);
    @include padding;
    background: transparent;
    font-size: inherit;

    &.has-left-block,
    &.has-right-block {
      width: $total-input-width - $side-block-width;
    }

    &.has-left-block.has-right-block {
      width: $total-input-width - ($side-block-width * 2);
    }
  }

  .styledinput-block {
    @include block(absolute);
    @include font(sans);
    top: 0;
    bottom: 0;
    width: $side-block-width;
    font-size: inherit;

    > * {
      @include block(absolute);
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
    }
  }

  .styledinput-left {
    background: $color-navy-trans-2;
    left: 0;
    border-top-left-radius: $nice-radius;
    border-bottom-left-radius: $nice-radius;
  }

  .styledinput-right {
    background: $color-green;
    color: $color-white;
    right: 0;
    border-top-right-radius: $nice-radius;
    border-bottom-right-radius: $nice-radius;
  }

  .styledinput-error {
    margin-top: 5px;
  }
}
