$styledselect-width: 50px;

.StyledSelect {
  @include block;
  width: $styledselect-width;
  height: 100%;

  .styledselect-button {
    @include block;
    width: 100%;
    height: 100%;
  }

  .styledselect-items-wrap {
    @include block(absolute);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .styledselect-items {
    position: absolute;
    /*display: none;*/
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $color-white;
    border-radius: $nice-radius;
    overflow: hidden;
    @include shadow(2);

    &.is-open {
      /*display: block;*/
    }
  }

  .styledselect-item {
    @include block;
    width: 100%;
    padding: 10px 0;

    &.active {
      background: $color-navy-trans-2;
    }
  }

  .styledselect-items-animation-enter {
    opacity: 0;

    &.styledselect-items-animation-enter-active {
      opacity: 1;
      transition: opacity .1s linear;
    }
  }

  .styledselect-items-animation-leave {
    opacity: 1;

    &.styledselect-items-animation-leave-active {
      opacity: 0;
      transition: opacity .1s linear;
    }
  }
}
