$total-input-width: 180px;
$side-block-width: 40px;

.StyledInput {
  @include block;
  width: $total-input-width;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 2px 2px 0 rgba($color-black, .22);

  .styledinput-input {
    @include block(inline);
    background: transparent;
    padding: 10px 20px;

    &.has-left-block {
      margin-left: $side-block-width;
    }

    &.has-right-block {
      margin-right: $side-block-width;
    }
  }

  .styledinput-block {
    @include font(sans);
    @include block(absolute);
    top: 0;
    bottom: 0;
    width: $side-block-width;
    font-size: 1.5rem;

    > * {
      @include block(absolute);
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(-50%);
      text-align: center;
    }
  }

  .styledinput-left {
    background: rgba($color-navy, .07);
    left: 0;
  }

  .styledinput-right {
    background: $color-green;
    color: $color-white;
    right: 0;
  }
}
