.IOweWidgetContainer {
  @include block;

  .iowewidgetcontainer-styledinput-wrap {
    text-align: center;
  }

  .iowewidgetcontainer-styledinput {
    @include block(inline);
  }

  .iowewidgetcontainer-styledinput-button {
    width: 100%;
    height: 100%;
  }

  .iowewidgetcontainer-styledinput-arrow {
    width: 24px;
  }
}
