$ioweswitcher-height: 50px;
$ioweswitcher-button-size: 40px;
$ioweswitcher-middle-offset: 40px;
$ioweswitcher-middle-offset-mobile: 30px;

.IOweSwitcherContainer {
  @include block;
  text-align: center;
  height: $ioweswitcher-height;
  margin-bottom: $gap-2;

  .ioweswitcher-text-iowe,
  .ioweswitcher-text-input {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    transition: transform .2s ease;
  }

  .ioweswitcher-text-iowe {
    left: 50%;
    transform: translate($ioweswitcher-middle-offset, -50%);
  }

  .ioweswitcher-text-input {
    right: 50%;
    transform: translate(-$ioweswitcher-middle-offset, -50%);
    width: 200px;
    width: 37vw;
    max-width: 230px;
    text-align: right;
    overflow: hidden;
    font-size: 1.8rem;

    > .styledinput-input {
      overflow: hidden;
      width: 100%;
      text-align: right;
      padding: 0.3em 0.5em;
    }
  }

  .ioweswitcher-button {
    position: absolute;
    transform: translateY(-50%) rotate(0deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $ioweswitcher-button-size;
    height: $ioweswitcher-button-size;
    background-image: url(../images/circle.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .2s ease;
  }

  .iowswitcher-input-error {
    margin-top: 3px;
  }

  &.iowethem {
    .ioweswitcher-text-iowe {
      left: auto;
      right: 50%;
      transform: translate(-$ioweswitcher-middle-offset, -50%);
    }

    .ioweswitcher-text-input {
      right: auto;
      left: 50%;
      transform: translate($ioweswitcher-middle-offset, -50%);
      text-align: left;

      > .styledinput-input {
        text-align: left;
      }
    }

    .ioweswitcher-button {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include bp(sm, true) {
    .iowswitcher-input-error {
      margin-top: -2px;
    }

    .ioweswitcher-text-iowe,
    .ioweswitcher-text-input {
      font-size: 1.5rem;
    }

    .ioweswitcher-text-iowe {
      transform: translate($ioweswitcher-middle-offset-mobile, -50%);
    }

    .ioweswitcher-text-input {
      width: 110px;
      width: 37vw;
      transform: translate(-$ioweswitcher-middle-offset-mobile, -50%);

      > .styledinput-input {
        padding: 0.3em 0.5em;
      }
    }

    &.iowethem {
      .ioweswitcher-text-iowe {
        transform: translate(-$ioweswitcher-middle-offset-mobile, -50%);
      }

      .ioweswitcher-text-input {
        transform: translate($ioweswitcher-middle-offset-mobile, -50%);
      }
    }
  }
}
