$ioweswitcher-height: 50px;
$ioweswitcher-button-size: 40px;
$ioweswitcher-middle-offset: 40px;
$ioweswitcher-middle-offset-mobile: 30px;

.IOweSwitcherContainer {
  @include block;
  text-align: center;
  height: $ioweswitcher-height;
  margin-bottom: $gap-1;

  .ioweswitcher-text-iowe,
  .ioweswitcher-text-input {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    transition: transform .2s ease;
  }

  .ioweswitcher-text-iowe {
    left: 50%;
    transform: translate($ioweswitcher-middle-offset, -50%);
  }

  .ioweswitcher-text-input {
    right: 50%;
    transform: translate(-$ioweswitcher-middle-offset, -50%);
    width: 200px;
    width: 37vw;
    max-width: 230px;
    background: transparent;
    text-align: right;
    color: $color-turquoise;
    @include placeholder($color-turquoise-trans);

    &:focus {
      border-top: solid 2px transparent;
      border-bottom: solid 2px $color-turquoise;
    }
  }

  .ioweswitcher-button {
    position: absolute;
    transform: translateY(-50%) rotate(0deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $ioweswitcher-button-size;
    height: $ioweswitcher-button-size;
    background-image: url(../images/circle.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .2s ease;
  }

  .iowswitcher-input-error {
    margin-top: -5px;
  }

  &.iowethem {
    .ioweswitcher-text-iowe {
      left: auto;
      right: 50%;
      transform: translate(-$ioweswitcher-middle-offset, -50%);
    }

    .ioweswitcher-text-input {
      right: auto;
      left: 50%;
      transform: translate($ioweswitcher-middle-offset, -50%);
      text-align: left;
    }

    .ioweswitcher-button {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include bp(sm, true) {
    .ioweswitcher-text-iowe,
    .ioweswitcher-text-input {
      font-size: 1.5rem;
    }

    .ioweswitcher-text-iowe {
      transform: translate($ioweswitcher-middle-offset-mobile, -50%);
    }

    .ioweswitcher-text-input {
      width: 110px;
      width: 37vw;
      transform: translate(-$ioweswitcher-middle-offset-mobile, -50%);
    }

    &.iowethem {
      .ioweswitcher-text-iowe {
        transform: translate(-$ioweswitcher-middle-offset-mobile, -50%);
      }

      .ioweswitcher-text-input {
        transform: translate($ioweswitcher-middle-offset-mobile, -50%);
      }
    }
  }
}
