.IOweWidgetContainer {
  @include block;
  margin-bottom: $gap-3;

  .iowewidgetcontainer-styledinput-wrap {
    text-align: center;
  }

  .iowewidgetcontainer-styledinput {
    @include block(inline);
  }

  .iowewidgetcontainer-styledinput-currency-button,
  .iowewidgetcontainer-styledinput-submit-button {
    @include block;
    width: 100%;
    height: 100%;
  }

  // .iowewidgetcontainer-styledinput-currency-button {
  // }

  .iowewidgetcontainer-styledinput-submit-button {
    background: $color-green;
    color: $color-white;
    border-top-right-radius: $nice-radius;
	  border-bottom-right-radius: $nice-radius;

    &:active {
      background-color: $color-green-light;
    }
  }

  .iowewidgetcontainer-styledinput-arrow {
    width: 16px;
  }
}
