.IOweWidgetContainer {
  @include block;
  margin-bottom: $gap-3;

  .iowewidgetcontainer-styledinput-wrap {
    text-align: center;
  }

  .iowewidgetcontainer-styledinput {
    @include block(inline);
  }

  .iowewidgetcontainer-styledinput-currency-button,
  .iowewidgetcontainer-styledinput-submit-button {
    @include block;
    width: 100%;
    height: 100%;
  }

  .iowewidgetcontainer-styledinput-currency-button {
  }

  .iowewidgetcontainer-styledinput-submit-button {
  }

  .iowewidgetcontainer-styledinput-arrow {
    width: 16px;
  }
}
