.OweListContainer {
  @include block;
  max-width: 100%;

  .owelist-content{
    @include block(inline);
    background-color: $color-white;
    border-radius: $nice-radius;
    overflow: hidden;
    margin-bottom: $gap-2;
    @include shadow;
    max-width: 100%;
  }
}
