.OweListContainer {
  @include block;
  max-width: 100%;

  .owelist-content{
    @include block(inline);
    @include shadow(1, true);
    background-color: rgba($color-navy, .05);
    border-radius: $nice-radius;
    overflow: hidden;
    margin-bottom: $gap-2;
    max-width: 100%;
  }
}
