.HomePage {
  .homepage-logo {
    @include block(inline);
    margin-bottom: 30px;
  }

  .homepage-logo-img,
  .homepage-logo-text {
    display: block;
    margin: 0 auto;
  }

  .homepage-logo-img {
    width: 150px;
    margin-bottom: 10px;
  }

  .homepage-logo-text {
    font-size: 1rem;
  }
}
