.HomePage {
  .homepage-logo {
    @include block(inline);
    margin-bottom: $gap-2;
  }

  .homepage-logo-img,
  .homepage-logo-text {
    display: block;
    margin: 0 auto;
  }

  .homepage-logo-img {
    width: 150px;
    margin-bottom: 5px;
  }

  .homepage-logo-text {
    font-size: 1rem;
  }
}
