doctype html
html(itemscope itemtype="http://schema.org/Product")
  head
    title IOWho?
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Aaron Leo Cooper')
    meta(name='description', content='The blissfully simple money lending tracker')
    meta(itemprop='name', content='IOWho?')
    meta(itemprop='description', content='The blissfully simple money lending tracker')
    meta(itemprop='image', content='http://iowhoapp.com/assets/images/iowho-logo@2x.png')
    meta(property='og:url', content='http://iowhoapp.com')
    meta(property='og:title', content='IOWho?')
    meta(property='og:description', content='The blissfully simple money lending tracker')
    meta(property='og:site_name', content='IOWho?')
    meta(property='og:image', content='http://iowhoapp.com/assets/images/iowho-logo@2x.png')
    meta(property='fb:admins', content='')
    meta(property='fb:app_id', content='')
    meta(property='og:type', content='')
    meta(property='og:locale', content='en_GB')
    meta(property='og:audio', content='')
    meta(property='og:video', content='')
    link(rel='icon', type='image/png', href='assets/images/meta/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='assets/images/meta/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='assets/images/meta/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='assets/images/meta/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='assets/images/meta/favicon-128x128.png', sizes='128x128')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='assets/images/meta/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/images/meta/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/images/meta/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/images/meta/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='assets/images/meta/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='assets/images/meta/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='assets/images/meta/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='assets/images/meta/apple-touch-icon-152x152.png')
    meta(name='application-name', content='IOWho?')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='assets/images/meta/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='assets/images/meta/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='assets/images/meta/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='assets/images/meta/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='assets/images/meta/mstile-310x310.png')
    - var mobileBarColour = '#446D7D'
    meta(name='theme-color', content=mobileBarColour)
    meta(name='msapplication-navbutton-color', content=mobileBarColour)
    meta(name='apple-mobile-web-app-status-bar-style', content=mobileBarColour)
    link(rel='stylesheet', href=`assets/styles/${cssName}`)
  body
    block content
