DirectoryIndex index.html

# directory browsing
Options All -Indexes

# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg|ttf|map)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
