doctype html
head
  title IOWho?
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='Aaron Leo Cooper')
  meta(name='description', content='The blissfully simple money lending tracker')
  link(rel='icon', type='image/png', href='assets/images/iowho-logo@0.25x.png')
  link(rel='stylesheet', href=`assets/styles/${cssName}`)
body
  #app
  script(src=`assets/scripts/${jsName}`)
