extends partials/layout.pug

block GA
  script.
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54909735-4', 'auto');
    ga('send', 'pageview');

block content
  #app
  script(src=`assets/scripts/${jsName}`)
