doctype html
head
  title IOWho?
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='Aaron Leo Cooper')
  meta(name='description', content='The blissfully simple money lending tracker')
  link(rel='icon', type='image/png', href='assets/images/iowho-logo@0.25x.png')
  link(rel='stylesheet', href=`assets/styles/${cssName}`)
body
  #placeholder(style='display: block; position: relative;')
    h1
      img(style='display: block; margin: 0 auto; margin-bottom: 20px;', src='assets/images/iowho-logo.svg', alt='IOWho coming soon!')
      span(style='display: block; margin: 0 auto; text-align: center;') ...coming soon!
  .footer
    .footer-msg Created with <em>&#x2764;</em> by <a href='http://www.alcooper.me'>Aaron Leo Cooper</a>
