extends partials/layout.pug

block content
  #placeholder(style='display: block; position: relative;')
    h1
      img(style='display: block; margin: 0 auto; margin-bottom: 20px;', src='assets/images/iowho-logo.svg', alt='IOWho coming soon!')
      span(style='display: block; margin: 0 auto; text-align: center;') ...coming soon!
  .footer
    .footer-msg Created with #[em &#x2764;] by #[a(href='http://www.alcooper.me') Aaron Leo Cooper]
